div.container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#titleText {
    color: #29CC7A;
}

#nutritionalPreferences {
    text-align: start;
    margin-top: 1rem;
}

#pref {
    display: flex;
    justify-content: space-between;
}

#prefText {
    width: auto;
    display: flex;
}

#selectIcon {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginButton {
    background-color: #29CC7A;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
