div.container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#titleText {
    color: #29CC7A;
}

#recipeCard {
    margin-top: 2rem;
    margin-bottom: 0rem;
    border: 0;
}

.card-img-top {
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-img-overlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
}

#recipeTitle {
    font-size: 28px;
}

#recipeStats {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

#recipeStatsLabel {
    font-size: 14px;
}

#loginButton {
    background-color: #29CC7A;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






/* Alternative Recipe Card Styling */

#cardDietTags {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#cardTag {
    background-color: #CCFFE6;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    margin: 0.25rem;
    color: black;
}

#recipeCardLinkAlt {
    text-decoration: none;
}

#recipeCardAlt {
    border: 3px solid rgb(200, 200, 200);
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
}

#recipeCardHeaderAlt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#recipeCardBodyAlt {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    color: black;
}

#recipeTitleDivAlt {
    width: 100%;
}

#recipeImageAlt {
    width: 40%;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1rem;
}

#recipeTitleAlt {
    font-size: 24px;
    color: black;
}

#cardStatIcon {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

#cardStatText {
    font-size: 18px;
    margin-bottom: 0;
}

#cardStatName {
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#cardStat {
    width: 100px;
}





/* Button for Testing Purposes */

#switchCardLayoutBtn {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
