div.container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#titleText {
    color: #29CC7A;
}

#accountImage {
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#settings {
    text-align: start;
}

#setting,
#deleteAccount {
    display: flex;
    justify-content: space-between;
}

#deleteAccount {
    color: red;
}

#settingText {
    width: auto;
    display: flex;
}

#selectIcon {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginButton {
    background-color: #29CC7A;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deleteAccountAlert {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#deleteAccountButtons {
    display: flex;
    justify-content: space-between;
}

#deleteAccountBtn {
    display: flex;
    width: 45%;
    justify-content: center;
}

#passwordConfirmForm {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
