div.container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    padding-bottom: 1rem;
}

#titleText {
    color: #29CC7A;
}

.account-image {
    height: 200px;
    width: 200px;
}